@font-face {
  font-family: "SeaWavesDurango";
  src: url("../assets/SeaWavesDurango-8x4J.ttf") format("truetype");
}

$background-color: ghostwhite;
$header-font: "SeaWavesDurango", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $background-color;
  background-image: url("../assets/japanese-waves.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: $header-font;
  font-size: 35px;
  // color: black;
}
